{% extends 'base.html' %}

{% load static %}

{% block title %}Index{% endblock %}

{% block extra-style %}
<style type="text/css">
    h1 {
        text-align: center;
        color: #1e1d20;
        margin-bottom: 30px;
    }
</style>
{% endblock%}

{% block content %}
<br>
<h1> Cafe Lion 미니 키오스크</h1>
<br>
<div class="d-grid gap-2 col-6 mx-auto">
    <a href="{% url 'kiosk:menu_category' 1 %}" class="btn btn-dark" tabindex="-1" role="button" aria-disabled="true">1. 메뉴 확인 및 주문하기</a>
    <a href="{% url 'kiosk:receipt' %}" class="btn btn-dark" tabindex="-1" role="button" aria-disabled="true">2. 현재 주문번호 및 영수증 확인하기</a>
    <a href="#" class="btn btn-dark disabled" tabindex="-1" role="button" aria-disabled="true">3. 지난 주문보기</a>
    <a href="{% url 'kiosk:add_menu' %}" class="btn btn-dark" tabindex="-1" role="button" aria-disabled="true">4. 메뉴 관리하기(로그인 필요)</a>

</div>

{% endblock %}
