{% extends 'base.html' %}

{% load custom_filters %}
{% load static %}

{% block title %}Receipt{% endblock %}

{% block extra-style %}
<style type="text/css">
    h1 {
        text-align: center;
        color: #1e1d20;
        margin-bottom: 30px;
    }

    h3 {
        text-align: center;
    }

    p {
        text-align: center;
    }
</style>
{% endblock%}

{% block content %}
    <br>
    <h1>영수증</h1>
    <br>
    <p>현재 주문번호는 {{ max_order_id }}번이며, 주문 영수증은 다음과 같습니다.</p>
    <ul style="border: 2px solid #1e1d20; border-radius: 15px; padding: 20px; list-style-type: none; width: 50%; margin: 0 auto;">
        {% for menu in menus%}
            {% for cart_item in cart_items %}
            {% if cart_item.menu_id == menu.id %}
                <li style="text-align: center;">{{ menu.menu_name }}({{menu.menu_price}}원) * {{ cart_item.menu_count }} = {{ cart_item.menu_count|mul:menu.menu_price }}원</li>
            {% endif %}
            {% endfor %}
        {% endfor %}
    </ul>
    <br>
    <br>
    <h3>현재 금액 합계 : </h3>
    <p>총 {{total_sum}}원</p>

    <br><br>
    <p><a href="{% url 'kiosk:index' %}" class="btn btn-dark" tabindex="-1" role="button" aria-disabled="true">Home으로 돌아가기</a></p><br><br>

{% endblock %}