<title>날짜별 영수증 조회</title>
<h1> 날짜별 영수증 조회</h1>

<br>
<ul>
{% for date in date_list %}
<li style="display: inline;"><a href="{% url 'kiosk:all_receipt_date_detail' year|date:'Y' month|date:'n' day|date:'j' %}" class="btn btn-primary" tableindex="-1" role="button" aria-disabled="true">{{ date|date:'Y-n-j' }}</a></li>
{% endfor %}
</ul>

<div>
    <ul>
        {% for receipt in object_list %}
        <li>{{post.modify_dt | date:"Y-m-d"}} 
            <a href="{{post.get_absolute_url}}">{{post.title}}</a>
        </li>
        {% endfor %}
    </ul>
</div>